
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.container {
    text-align: center;
    padding: 20px;
    background-color: #4caf50;
    color: #fff;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    line-height: 1.6;
}

nav ul {
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: flex-end; 
    align-items: center; 
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
}

nav ul li:nth-child(1) {
    order: -1;
}

nav ul li a:hover {
    background-color: #FFBB64; 
}


.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/login3.jpeg");
    background-size: cover;
    z-index: -1;
}
.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281); 
}
.cta-button {
    font-weight: bold;
    background-color:#FFBB64;
    color: #fff;
    padding: 20px 40px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute; 
    bottom: 300px; 
    right: 50px;
}


