<body>
    <div class="background-container">
      <div class="login-container">
        <h1>Dobro došli!</h1>
        <br>
        <form>
          <div class="form-group">
            <label for="username">Korisničko ime:</label>
            <input type="text" id="username" name="username">
          </div>
          <div class="form-group">
            <label for="password">Lozinka:</label>
            <input type="password" id="password" name="password">
          </div>
          <button type="submit">Prijavite se</button>
          <p style="font-size: 0.8em;">Zaboravili ste lozinku? <a href="#"><strong>Resetujte lozinku</strong></a></p>
          <p>Niste registrovani? <a href="#"><b>Registrirajte se</b></a></p>
        </form>
      </div>
    </div>
  </body>
  